.frm-line {
    margin: 40px 0;
}
.contact-btn {
    background-color: #0D3644 !important;
    float: right;
    width: 195px;
    color: #fff;
    height: 64px;
    margin-right: 9%;
    margin-top: 1rem;
    border-radius: 0 !important;
}
.contact-title {
    margin-top: 200px;
    font-family: Playfair Display;
    padding-left: 12%;
}

.input-text {
    width: 70%;
    padding: 0.3em;
    margin-left: 21%;
}

.input-subject {
    width: 70%;
    padding: 0.3em;
    margin-left: 21%;
}
.input-mail {
    width: 70%;
    padding: 0.3em;
    margin-left: 21%;
}
textarea {
   width: 70%;
    padding: 4em;
    margin-left: 20%;
    border: 1px solid #000;
}
#nameLabel {
    display: inline;
}
.textarea-label {
    /*position: absolute;*/
}
.contact-image {
    width: 100%; height: 50vh; margin-right: 0;
}
.form-div {
    width: 100%;
    padding: 2rem 1rem 2rem 2rem;
    margin-top: 100px;
    border: 1px solid pink;
}

@media (min-width: 800px) {

}

@media (max-width: 600px) {
  
  .col-left {
    margin-left: 0;
    text-align: center;
  }

  .col-right {
    text-align: center;
  }
  .input-text {
    width: 60%;
    padding-top: 0.3em;
    display: block;
    border: 1px solid black;
}
.input-subject {
    display: block;
    width: 60%;
    padding-top: 0.3em;
    border: 1px solid black;
    
}
.input-mail {
    display: block;
    /*margin-left: 5em;*/
    width: 60%;
    padding: 0.3em;
    border: 1px solid black;
    
}
textarea {
   width: 60%;
    padding: 5em;
 display: block;
 border: 1px solid black;   
}
.form-div {
    text-align: center;
    width: 100%;
    padding: 0 0 2rem 0 ;
    margin: 10px;
    border: 1px solid pink;
}
#nameLabel {
    display: block;
    text-align: center;
}
.contact-title {
    text-align: center;
    /*margin-top: 200px;*/
    font-family: Playfair Display;
    
}
.contact-btn {
    background-color: #0D3644 !important;
    float: right;
    width: 60%;
    color: #fff;
    padding: 0px;
    margin-right: 20%;
    border-radius: 0 !important;
}
}