.frm-line {
    margin: 40px 0;
}
header{
    display: grid;
    grid-template-columns: 42% 58% !important;

}
.contact-btn {
    background-color: #0D3644 !important;
    float: right;
    width: 195px;
    color: #fff;
    height: 64px;
    margin-right: 8%;
    margin-top: 1rem;
    border-radius: 0 !important;
}
.contact-title {
    margin-top: 200px;
    font-family: Playfair Display;
    
}
.sp::before {
    content: "";
    color: #F6AE2D;
    position: relative;
    top: -20px;
}
.input-text {
    width: 70%;
    padding: 0.3em;
    margin-left: 21%;
}

.input-subject {
    width: 70%;
    padding: 0.3em;
    margin-left: 21%;
}
.input-mail {
    width: 70%;
    padding: 0.3em;
    margin-left: 21%;
}
textarea {
   width: 70%;
    padding: .5rem;
    height: 200px;
    margin-left: 21%;
    border: 1px solid #000;
}
#nameLabel {
    display: inline;
}
.header-image {
    width: 100%; height: 50vh;
}
.form-div {
    width: 100%;
    padding: 2rem 1rem 2rem 2rem;
    margin-top: 100px;
    border: 1px solid #F6AE2D;
}

@media (min-width: 800px) {

}

@media (max-width: 600px) {
  
  .col-left {
    margin-left: 0;
    text-align: center;
  }

  .col-right {
    text-align: center;
  }
  .input-text {
    width: 60%;
    padding-top: 0.3em;
    display: block;
    border: 1px solid black;
}
.input-subject {
    display: block;
    width: 60%;
    padding-top: 0.3em;
    border: 1px solid black;
    
}
.input-mail {
    display: block;
    width: 60%;
    padding: 0.3em;
    border: 1px solid black;
    
}
textarea {
   width: 60%;
    padding: .4em;
    height: 200px;
 display: block;
 border: 1px solid black;   
}
.form-div {
    text-align: center;
    width: 100%;
    padding: 1rem 0 1rem 0;
    margin: 0%;
    border: 1px solid #F6AE2D;

    margin-top: 50px;
}
#nameLabel {
    display: block;
    text-align: center;
}
.contact-title {
    margin-top: 20px;
    font-family: Playfair Display;
    
}
.contact-btn {
    background-color: #0D3644 !important;
    float: right;
    width: 60%;
    color
    padding: 0px;
    margin-right: 20%;
    border-radius: 0 !important;
}
}