@font-face {
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Muli Regular'), url('../lib/Muli-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    src: local('Playfair Display'), url('../lib/playfair-display-v20-latin-regular.woff') format('woff');
  }
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0%;

}
#logoDiv{
    padding: 1em 0px 1em 3em;
    margin: 0px;
    display: flex;
    align-items: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    color: #0D3644;
    text-decoration-style: solid;
    text-decoration: underline;
    text-decoration-color: #F6AE2D;
}
#logo{
    width: 73px;
    height: 64px;
}
nav{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin: 0px 48px 0px 0px;
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    color: rgba(13, 54, 68, 0.6);
}
nav li a{
    text-decoration-line: none;
    cursor: pointer;
}
.active{
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
nav li a:hover{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    background-color: lightgreen;
}
.navbar{
    padding-left: 0px;
}
#heading{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5em;
    height: auto;
}
#heading h2{
    padding: 0px 0px 0em 2em;
    margin: 0px;
    display: flex;
    align-items: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #0D3644;
}
#hotelImageDiv{
    display: flex;
    /* justify-content: center; */
}
#hotelImageDiv img{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    /* width: 50%; */
}
#formDiv{
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
#registrationForm{    
    
    /* border: 1px solid rgb(226, 93, 93); */
    border: 0.5px solid #F6AE2D;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 80%;
    padding: 3em 4em;
}
.formInput{
    margin: 1.5em 1.5em;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% auto;
}
label{
    width: 100%;
    margin: 5px 0px;   
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: bold;
    font-weight: 600;
    font-size: 1em;
    color: #000000;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
}
input{
    width: 100%;
    height: 50px;
    
    text-align: center;
}
textarea{
    width: 100%;
    height: 150px;
        
}
#submitBtn{
    background: #0D3644;
    color: white;
    width: auto;
    height: auto;
    padding: 1em 4em;
    align-self: flex-end;
    border: none;
    /* margin-top: 10px; */
    margin: 0.25em 2em;
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #FFFFFF;
}
#submitBtn:disabled{
    background-color: grey;
}
.feedback{
    margin: 1px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    color: red;
    display: none;
}

#bookingSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    background: rgba(243, 243, 243, 0.37);
    margin: 5em 0em;
}
#bookingSection h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #0D3644;
    margin-bottom: 1.5em;
}
#bookingSection p{
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    width: 50%;
    margin: 5px 0px;
    text-align: center;
    color: #0D3644;
}
#bookNowBtn{
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 24px;
    background-color: #F6AE2D;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 40px;
    border: none;
    margin-top: 40px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0em 0em 0em 0em;
    width: 100%;
    padding: 0px;
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: normal;
    color: #0D3644;   
}
footer div:nth-child(1){
    font-size: 2em;
    line-height: 64px;
    padding-left: 6em;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration-style: solid;
    text-decoration: underline;
    text-decoration-color: #F6AE2D;
}
footer div:nth-child(2){
    font-size: 1em;
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
footer div:nth-child(3){
    font-size: 1em;
    line-height: 24px;
    padding-right: 6em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: normal;
}


@media all and (max-width: 375px){
    
    header{
        width: 100%;
        margin: 0px;
        padding: 0%;
    
    }
    #logoDiv{
        padding: 0.25em 1em;
        margin: 0px;
        display: flex;
        align-items: center;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #0D3644;
    }
    #logo{
        width: 73px;
        height: 64px;
    }
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    nav li{
        list-style-type: none;
        margin: 2px 0px 2px 0px;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 1.1em;
        color: rgba(13, 54, 68, 0.6);
        width: 100%;
        
    }
    .navbar-toggler{
        /* padding: 15px 15px; */
        margin: 15px;
    }
    nav li a{
        text-decoration-line: none;
        cursor: pointer;
    }
    nav li a:hover{
        background-color: lightgreen;
    }
    #heading{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        height: auto;
        align-items: center;
;    }
    #heading h2{
        padding: 0px;
        margin: 0px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 1.75em;
        color: #0D3644;
    }
    #hotelImageDiv{
        display: none;
    }
    #formDiv{
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    #registrationForm{    
        
        border: 0.5px solid #F6AE2D;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 95%;
        padding: 0.2em 0em;
    }
    .formInput{
        margin: 0.2em 0.5em;
        display: grid;
        grid-template-columns: 30% auto;
    }
 
    label{
        width: 100%;
        font-family: 'Muli Regular';
        font-style: bold;
        font-weight: 600;
        font-size: 1em;
        color: #000000;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0px;
    }
    input{
        width: 100%;
        
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    textarea{
        width: 100%;
        height: 100px;
           
        margin: 0px; 
    }
    #submitBtn{
        background: #0D3644;
        color: white;
        width: 20%;
        height: 30px;
        align-self: flex-end;
        border: none;
        margin: 0em 1.25em 1.5em 0.5em;
        
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    #submitBtn:disabled{
        background-color: grey;
    }
    .feedback{
        margin: 1px 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5em;
        color: red;
        display: none;
    }
    
    #bookingSection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 2.5em 0em 1.5em 0em;
    }
    #bookingSection h3{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #0D3644;
        margin-bottom: 0.5em;
    }
    #bookingSection p{
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        width: 90%;
        margin: 0px 0px;
        text-align: center;
        color: #0D3644;
    }
    #bookNowBtn{
        width: fit-content;
        height: auto;
        text-align: center;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        padding: 7.5px 20px;
        background-color: #F6AE2D;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0em 0em 0em 0em;
        width: 100%;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: normal;
        color: #0D3644;   
    
    }
    footer div:nth-child(1){
        font-size: 2em;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
    }
    footer div:nth-child(2){
        font-size: 0.75em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        font-weight: bolder;
    }
    footer div:nth-child(3){
        font-size: 0.75em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        text-align: center;
        font-weight: bolder;
    }
}

@media all and (min-width: 376px) and (max-width: 480px){
    
    header{
        width: 100%;
        margin: 0px;
        padding: 0%;
    
    }
    #logoDiv{
        padding: 0.25em 1em;
        margin: 0px;
        display: flex;
        align-items: center;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 64px;
        color: #0D3644;
    }
    #logo{
        width: 73px;
        height: 64px;
    }
    nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    nav li{
        list-style-type: none;
        margin: 2px 0px 2px 0px;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 1.2em;
        line-height: 16px;
        color: rgba(13, 54, 68, 0.6);
        width: 100%;
        
    }
    .navbar-toggler{
        /* padding: 15px; */
        margin: 15px;
    }
    nav li a{
        text-decoration-line: none;
        cursor: pointer;
    }
    nav li a:hover{
        background-color: lightgreen;
    }
    #heading{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 2.5px;
        height: auto;
        align-items: center
;    }
    #heading h2{
        padding: 0px 0px 0em 0em;
        margin: 0px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        color: #0D3644;
    }
    #hotelImageDiv{
        display: none;
    }
    #formDiv{
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    #registrationForm{    
        
        border: 0.5px solid #F6AE2D;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 95%;
        padding: 0.25em 0em;
    }
    .formInput{
        margin: 0.5em 0.5em;
        padding: 5px 0px;
        display: grid;
        grid-template-columns: 30% auto;
    }
    label{
        width: 100%;
        margin: 5px 0px;   
        font-family: 'Muli Regular';
        font-style: bold;
        font-weight: 600;
        font-size: 1em;
        line-height: 24px;
        color: #000000;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    input{
        width: 100%;
        height: 40px;
        
        text-align: center;
    }
    textarea{
        width: 100%;
        height: 100px;
           
        margin: 0px; 
    }
    #submitBtn{
        background: #0D3644;
        color: white;
        width: 20%;
        height: 30px;
        align-self: flex-end;
        border: none;
        margin: 0em 0.5em 1em 0.5em;
        
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    #submitBtn:disabled{
        background-color: grey;
    }
    .feedback{
        margin: 1px 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5em;
        color: red;
        display: none;
    }
    
    #bookingSection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 2.5em 0em;
    }
    #bookingSection h3{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #0D3644;
        margin-bottom: 0.5em;
    }
    #bookingSection p{
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        width: 90%;
        margin: 0px 0px;
        text-align: center;
        color: #0D3644;
    }
    #bookNowBtn{
        width: fit-content;
        height: auto;
        text-align: center;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        padding: 7.5px 20px;
        background-color: #F6AE2D;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0em 0em 0em 0em;
        width: 100%;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: normal;
        color: #0D3644;   
    
    }
    footer div:nth-child(1){
        font-size: 2em;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
    }
    footer div:nth-child(2){
        font-size: 1em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
    }
    footer div:nth-child(3){
        font-size: 0.75em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        text-align: center;
    }
}
@media all and (min-width: 481px) and (max-width: 769px){
    
    header{
        width: 100%;
        margin: 0px;
        padding: 0%;
    
    }
    #logoDiv{
        padding: 0.25em 1.5em;
        margin: 0px;
        display: flex;
        align-items: center;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 64px;
        color: #0D3644;
    }
    #logo{
        width: 73px;
        height: 64px;
    }
    nav{
        display: flex;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    nav li{
        list-style-type: none;
        margin: 2px 0px 2px 0px;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        line-height: 16px;
        color: rgba(13, 54, 68, 0.6);
        width: 100%;
        
    }
    .navbar-toggler{
        /* padding: 15px; */
        margin: 15px;
    }
    nav li a{
        text-decoration-line: none;
        cursor: pointer;
    }
    nav li a:hover{
        background-color: lightgreen;
    }
    #heading{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 2.5px;
        height: auto;
        align-items: center
;    }
    #heading h2{
        padding: 0px 0px 0em 0em;
        margin: 0px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        color: #0D3644;
    }
    #hotelImageDiv{
        display: none;
    }
    #formDiv{
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    #registrationForm{    
        
        border: 0.5px solid #F6AE2D;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 80%;
        padding: 0.25em 0em;
    }
    .formInput{
        margin: 0.5em 0.5em;
        padding: 5px 0px;
        display: grid;
        grid-template-columns: 30% auto;
    }
    label{
        width: 100%;
        margin: 5px 0px;   
        font-family: 'Muli Regular';
        font-style: bold;
        font-weight: 600;
        font-size: 1em;
        line-height: 24px;
        color: #000000;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    input{
        width: 100%;
        height: 40px;
        
        text-align: center;
    }
    textarea{
        width: 100%;
        height: 100px;
           
        margin: 0px; 
    }
    #submitBtn{
        background: #0D3644;
        color: white;
        width: 20%;
        height: 30px;
        align-self: flex-end;
        border: none;
        margin: 0em 0.5em 1em 0.5em;
        
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    #submitBtn:disabled{
        background-color: grey;
    }
    .feedback{
        margin: 1px 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5em;
        color: red;
        display: none;
    }
    
    #bookingSection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 2.5em 0em;
    }
    #bookingSection h3{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #0D3644;
        margin-bottom: 0.5em;
    }
    #bookingSection p{
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        width: 90%;
        margin: 0px 0px;
        text-align: center;
        color: #0D3644;
    }
    #bookNowBtn{
        width: fit-content;
        height: auto;
        text-align: center;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        padding: 7.5px 20px;
        background-color: #F6AE2D;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0em 0em 0em 0em;
        width: 100%;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: normal;
        color: #0D3644;   
        padding: 0px;
    
    }
    footer div:nth-child(1){
        font-size: 2em;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
    }
    footer div:nth-child(2){
        font-size: 1em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        font-weight: bolder;
    }
    footer div:nth-child(3){
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        text-align: center;
        font-weight: bolder;
    }
}
@media all and (min-width: 770px) and (max-width: 1024px){    
    header{
        width: 100%;
        margin: 0px;
        padding: 0%;
    
    }
    #logoDiv{
        padding: 0.25em 1.5em;
        margin: 0px;
        display: flex;
        align-items: center;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 64px;
        color: #0D3644;
    }
    #logo{
        width: 73px;
        height: 64px;
    }
    nav{
        display: flex;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    nav li{
        list-style-type: none;
        margin: 2px 2px 2px 0px;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25em;
        color: rgba(13, 54, 68, 0.6);        
    }
    .navbar-toggler{
        padding: 15px;
        margin: 0px;
    }
    nav li a{
        text-decoration-line: none;
        cursor: pointer;
    }
    nav li a:hover{
        background-color: lightgreen;
    }
    #heading{    
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
        height: auto;
;    }
    #heading h2{
        padding: 0px 0px 0em 2em;
        margin: 0px;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 2em;
        color: #0D3644;
    }
    #hotelImageDiv{
        display: flex;
        justify-content: center;
    }
    #formDiv{
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    #registrationForm{    
        
        border: 0.5px solid #F6AE2D;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        width: 80%;
        padding: 0.25em 0em;
    }
    .formInput{
        margin: 1em 1em;
        padding: 5px 0px;
        display: grid;
        grid-template-columns: 30% auto;
    }
    label{
        width: 100%;
        margin: 5px 0px;   
        font-family: 'Muli Regular';
        font-style: bold;
        font-weight: 600;
        font-size: 1.5em;
        color: #000000;
        text-align: left;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    input{
        width: 100%;
        height: 40px;
        
        text-align: center;
    }
    textarea{
        width: 100%;
        height: 100px;
           
        margin: 0px; 
    }
    #submitBtn{
        background: #0D3644;
        color: white;
        width: 20%;
        /* height: 30px; */
        align-self: flex-end;
        border: none;
        margin: 0em 1em 1em 0.5em;
        
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
        color: #FFFFFF;
    }
    #submitBtn:disabled{
        background-color: grey;
    }
    .feedback{
        margin: 1px 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.5em;
        color: red;
        display: none;
    }
    
    #bookingSection{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        align-items: center;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        margin: 2.5em 0em;
    }
    #bookingSection h3{
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #0D3644;
        margin-bottom: 0.5em;
    }
    #bookingSection p{
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        width: 90%;
        margin: 0px 0px;
        text-align: center;
        color: #0D3644;
    }
    #bookNowBtn{
        width: fit-content;
        height: auto;
        text-align: center;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: bold;
        font-size: 1em;
        padding: 7.5px 20px;
        background-color: #F6AE2D;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0em 0em 0em 0em;
        width: 100%;
        font-family: 'Muli Regular';
        font-style: normal;
        font-weight: normal;
        color: #0D3644;   
    
    }
    footer div:nth-child(1){
        font-size: 2.5em;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        
    }
    footer div:nth-child(2){
        font-size: 1.5em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        font-weight: bolder;
    }
    footer div:nth-child(3){
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px 5px;
        text-align: center;
        font-weight: bolder;
    }
}

