footer{
  margin: 0 !important;
  /*padding: 0 !important;*/
}


header{
    grid-template-columns: 42% 58% !important;
}
.pad {
  margin: 70px 0;
}

.facImglandscape {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .title {
    margin-top: 1rem;
  }
}