body{
	width: 100%;
	margin: 0px;
}
@font-face{
	font-family: "Playfair Display";
	src: url('../lib/PlayfairDisplay-VariableFont_wght.ttf') format('truetype'); 
}
@font-face{
	font-family: "Muli";
	src: url('../lib/Muli-VariableFont_wght.ttf') format('truetype');
}
@font-face{
	font-family: "Lato";
	src: url('../lib/Lato-Bold.ttf') format('truetype');
}
/*****************HEADER*******************/
header {
	width: 80%;
	margin:0 auto;
}
header{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px 0px 0px 4%;
    padding: 0%;

}
/*************Temitope***************/
#logoDiv{
    padding: 1em 0px 1em 3em;
    margin: 0px;
    display: flex;
    align-items: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    color: #0D3644;
}
#logo{
    width: 73px;
    height: 64px;
}
nav{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin: 0px 48px 0px 0px;
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    color: rgba(13, 54, 68, 0.6);
}
nav li a{
    text-decoration-line: none;
    cursor: pointer;
}
.active {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
nav li a:hover{
    background-color: lightgreen;
}
.navbar{
    padding-left: 0px;
}

/***********Temitope***************/
.restLogo {
	border-bottom: 1px solid #f6ae2d;
}

a{text-decoration: none;
color: rgba(13,54,68,0.6);}
.home{
	flex:1;
    width: 45px;
    height: 24px;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: #0D3644;
}
.rooms{
    flex: 1;
    width: 128px;
    height: 24px;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: #0D3644;
}
.facilities{
	flex: 1;
    width: 66px;
    height: 24px;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: #0D3644;
}
   .contact{
   	flex:1;
    width: 81px;
    height: 24px;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: #0D3644;
}


/******************HEader***************/
.main {
	margin-bottom: 20px;
	margin-top: 20px;
}
.fac {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.facHead {
	flex:1;
	align-self: flex-end;
	margin-left: 3.8em;
	margin-right: 5em;
	margin-bottom: 0.1em;
	font-family: Playfair Display;
	font-weight: bold;
	font-style: normal;
	font-size: 48px;
	color:#0d3644;
	padding-bottom: 1.5em;
}

.facImgCon{
	flex:3 ;
}
.facImg{
	width: 100%;
	height: 22em;
}
.facText{
	padding-right: 30%;
	margin:5em 12em 5em 12em;
}

.facPic {
	display: flex;
	flex-flow: row wrap;
	width:70%;
	margin: 0 auto;
}

.sportDiner{
	display: flex;
	flex-flow: column wrap;
}
.diner {
	margin-top: 3%;
}
.bar{
	flex:1;
	margin-left: 4%;
}
.live{
	flex:2;
	margin-top: 2%;
}
/**********FOOTER*******************************/
.sign-up {
	text-align: center;
	width: 100%;
	line-height: 2em;
	text-align: center;
	color:#0D3644;
	}
.every {
	font-family: Lato;
	font-size: 14px;
	opacity: 0.7;
}

.rest {
	border-bottom: 1px solid #f6ae2d;
}

input[type=button] {
	width: auto;
	padding: 1em 2rem;
	background: #F6AE2D;
	color: #FFFFFF;
	border: none;
}

.endFooter {
	display: flex;
	flex-flow: row;
	flex-direction: row;
	width: 100%;
	background: #e5e5e5;
	margin-top: 1em;
}
.end {
	flex:1;
}

@media screen and (max-width: 1461px) {
	.sportDiner {
		display: none;
	}

.bar {
margin: 2px;
}

.live {

}

	.bar, .live {
		width: 400px;
		height: 400px;
	} 

	.facPic {
		display: flex;
		justify-content: space-aro}
und;
	}

@media screen and (max-width: 1186px) {
	.bar, .live {
		width: 	600px;
		height: 600px;
	} 

	.facPic {
		display: block;
	}

	.facText {
		padding: 0px;
		margin:20px;
	}
}

@media screen and (max-width: 800px) {
		.bar, .live {
		width: 	400px;
		height: 400px;
		margin:auto;
	} 

	.facPic {
		display: block;
	}

	.facText {
		padding: 0px;
		margin:20px;
	}

	.ul{
		flex-flow: column;
		flex-direction: column;
	}
}
@media screen and (max-width: 530px) {
	.bar, .live {
		display: none;
	} 

	.factext {
		margin: 50px;
	}
}