/*
@font-face {
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Muli Regular'), url('../lib/Muli-Regular.woff') format('woff');
  }

@font-face{
	font-family: "Muli";
	src: url('debuggerFonts/Muli-VariableFont_wght.ttf') format('truetype');
}
  
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    src: local('Playfair Display'), url('../lib/playfair-display-v20-latin-regular.woff') format('woff');
  }
}
@font-face{
	font-family: "Lato";
	src: url('../lib/Lato-Bold.ttf') format('truetype');
}*/

.title {
  margin-top: 200px;
}

.ssp::before {
    content: "___";
    color: #F6AE2D;
    position: relative;
    top: -20px;
}
.pad {
  margin: 80px 0;
}

.facImg {
  width: 100%
}

.facImglandscape {
  width: 100%;
}