header{
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 0px 0px 0px 0%;
    padding: 0%;
    width: 100%;

}
.header-other-pages {
    display: grid;
    grid-template-columns: 42% 58% !important;
     margin: 0px 0px 0px 0%;
    padding: 0%;
    width: 100%;
}
.header-image {
    width: 100%; height: 50vh;
}
.title {
  margin-top: 15rem;
}
.sp::before {
    content: "";
    color: #F6AE2D;
    position: relative;
    top: -18px;
    margin: 0;
}
.sp::before{
    content: "___";
    color: #F6AE2D;
    font-weight: bold;
}
.facImglandscape {
  width: 100%;
  margin-top: .3rem;
}
#logoDiv{
    padding: 1em 0px 1em 1.5em;
    margin: 0px;
    display: flex;
    align-items: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    color: #0D3644;
}
.rooms{
    width:100%;
}
#logo{
    width: 73px;
    height: 64px;
}
nav{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin: 0px 30px 0px 0px;
    font-family: 'Muli Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 24px;
    color: rgba(13, 54, 68, 0.6);
}
nav li a{
    text-decoration-line: none;
    cursor: pointer;
}

nav li a:hover{
    background-color: lightgreen;
}
.navbar{
    padding-left: 0px;
}
/*************Temitope***************/
.restLogo {
	border-bottom: 1px solid #f6ae2d;
    line-height: 30px;
}

a{
    text-decoration: none;
color: rgba(13,54,68,0.6);
}

.home{
	flex:1;
    width: 45px;
    height: 24px;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    color: #0D3644;
}
.pad {
    margin: 80px 0;
}
.padding {
	margin: 10px 0 50px 0;
}
    .resting{
        /*width: 100%;*/
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 3em;
        line-height: 44px;
        color: #0D3644;
        margin-top: 10rem;
    }
    
    .signuph2 {
    	text-align: center; margin: 50px 0 30px 0;
    }
    .signup-p {
    	text-align: center; margin: 0 0 30px 0;
    }
    .rectangle {
    	flex: 2;
    	position: relative;
    	margin-left:10%;
    	height: 35em;
    	border: none;
    	z-index: -1;
    }
    
    .view{
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 0px 5px .5px #888888;
  		-moz-box-shadow:    0px 0px 5px .5px #888888;
 		 box-shadow:         0px 0px 5px .5px #888888;
 		 z-index: 1;
        }
    .play {
        width: 50px;
        height: 50px;
        padding: .8rem;
        background: rgba(41, 41, 41, 0.4);
        position: absolute;
        top: 15em;
        left: 40%;
   		border: 3px solid #ffffff;
 		z-index: 1;
 		border-radius: 100%;
    }
    .arrow {
    	display: inline-block;
    	mask-image:url("../public/arrow.svg");
    	mask-size: cover;
    	width:4%;
    	padding: 0.3rem;
    	/*height:10px;*/
    	background:#F6AE2D;
    	clip-path: polygon(0 0, 49% 100%, 100% 0);
    }
    .quote{
        width: 100%;
        font-family: Muli;
        font-style: normal;
        margin-top: 40px;
        font-weight: 4em;
        font-size: 16px;
        line-height: 24px;
        color: #0D3644;
    }
    .room {
        margin: 50px 0;
    }
    .holder{
        width: 195px;
        height: 64px;
        background: #F6AE2D;
    }

    .rect{
    	margin-top: -6em;
    	display: flex;
    	flex-flow: row wrap;
    	justify-content: space-around;
    	align-items: center;
        width: 50em;
        height: 140px;
        background: #F7F7F7;
        z-index: 1 !important;
        line-height: 4px;
        padding-left: 40px;
    }

    .btnn{
    	background: #F6AE2D;
    	width: 100%;
    	color: white;
    	text-align: center;
    	margin: 1em 1em 1em 0;
    	font-size:16px;
    	padding:20px;
    }
    .btn-btn{
		color:white;
		background-color: none;
		align-items: center;
		
    }

    .active {
        border-bottom: .1rem solid #0D3644;
    }

.check {
	background-color: #f1f1f1f1; position: absolute; top: 600px; width: 80%; padding: 1em 0 1em 3em
}
.h-Atypical {
	font-weight: bold;
	margin: 200px 0 20px 0;
	color:#0d3644;
}
.rest {
	border-bottom: 1px solid #f6ae2d; line-height: 0px;
}
.atypical-Con {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.Atypical{
	font-size: 16px;
	font-style: normal;
	line-height: 24px;
	padding: 2em 5em 5em 5em;
	font-family: Muli;
	text-align: justify;

}
.pool {
	margin: 0;
	padding: 0;
}
.poolLong {
	width: 100%;
	margin: 0;
	padding: 0;
}

.Suites{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: Playfair Display;
	margin: 70px 0px 70px 0px;
}

.roomSuites{
	flex: 1;
	font-family: Playfair Display;
	font-size: 32px;
	color:#0d3644;
	font-weight: bold;
	font-style: normal;
	line-height: 44px;
}

.suitesText {
	flex: 2;
	justify-content: flex-end;
	padding: 0px 0px 0px 500px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	font-family: Muli;
	color:#0d3644;

}

.roomImg1{
	width:100%; 
	height:20em;
	margin: 0;
	padding: .2rem 0 0 0;
}
.roomImg2{
min-width:100%;
height:20em;
padding: .2rem 0 0 0;
margin: 0;

}
.roomImg3{
min-width:100%;
height: 20em;
overflow: hidden;
margin-top: 6px;
}

.Book1, .Book2, .Book3, .Book4, .Gold, .Stan, .Silver {
	position: absolute;
	color: white;
}

.Book1, .Book2, .Book3 {
	right: 5em;
	top: 2em;
	border: 1px solid white ;
	padding: 1%;
	font-family: Lato;
}

.Gold, .Stan, .Silver {
	bottom: 1em;
	left: 3em;
	font-family: Playfair Display;
	font-weight: bold;
	font-size: 24px;
	font-style: normal;
	line-height: 44px;
}
.rate {
	font-family: Lato;
	font-size: 14px;
	font-weight: bold;
	color: rgba(255,255,255,0.6);
}

@media only screen and (max-width: 1442px ) {
	.roomSuites {
		flex: 1;
	}
	.suitesText{
		flex:1;
		padding:0px;
	}
}

@media only screen and (max-width: 1047px ) {
	
	.roomImg1{
		width: 100%;
	}
	.roomImg2{
		width: 100%;
	}
	.roomImg3 {
		width: 100%;
	}
	.roomSuites {
		flex: 1;
	}
	.suitesText{
		flex:1;
		padding:0px;
	}
}
/*-------------------------------------------DEBUGGGER ENDS HERE-------------------------------------------
	-----------------------------------------------------------------------------------------------------------*/
	input[type=button] {
	width: auto;
	padding: 1em 2rem;
	background: #F6AE2D;
	color: #FFFFFF;
	border: none;
}

.offer {
	width: 45%;
	margin-left: 5%;
	font-family: Playfair Display;
	font-size: 24px;
	color: white;

}
.count {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
 	font-size: 16px;
 	color: white;
 	width: 100%;
 	margin: 0 auto;

}
.stat{
	flex:1;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 5%;
}
.stat p {
	flex-basis: 30%;
	font-size: 12px;
	opacity: 0.7;
}

.counter {
	background-color: #0D3644; margin-top: 70px; padding: 50px 0;
}

.every {
	font-family: Lato;
	font-size: 14px;
	opacity: 0.7;
}

footer {

	background: #E5E5E5;
	margin-top: 3em;
	padding: 1em 0 0 0;
}

.col {
	text-align: center;
}
.col-left {
    
    text-align: right;
}
.col-right {
    margin-left: 5%;
    text-align: left;
}

@media only screen and (max-width: 600px) {
  .padding {
  	padding: 1rem;
  }

  .title {
      margin-top: 2rem;
    }

  .col-left {
    margin-left: 0;
    text-align: center;
  }

  .col-right {
    text-align: center;
  }
  .offer {
    width: 100%;
    font-family: Playfair Display;
}
.resting {
        margin-top: 0;
    }
}